doctype html
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 TasKing - ADMINISTRADOR DE PROYECTOS
            a(href="/cerrar-sesion") Cerrar Sesión 

        main.contenedor  
            aside.contenedor-proyectos
                .panel.crear-proyecto 
                    a(href="/nuevo-proyecto" class="boton") 
                        span Nuevo Proyecto 💡
                .panel.lista-proyectos 
                    h2 PROYECTOS 
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li 
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre
                                
             
            block contenido
                
            
        script(src='/dist/bundle.js')