extends master

block contenido
    .contenido-principal 
        h1= nombrePagina

        if errores
            each err in errores
                .alerta.error= err.texto

        form.agregar-proyecto(action="/nuevo-proyecto" method="POST")
            .campo 
                label(for="nombre") Nombre Proyecto 
                input(name="nombre" type="text" id="nombre" value=nombre placeholder="Nombre Proyecto") 
            .campo.enviar 
                input(type="submit", value="Agregar" class="boton")