extends master

block contenido
    .contenido-principal 
        h1= nombrePagina

        form.agregar-proyecto(action="/nuevo-proyecto" method="POST")
            .campo 
                label(for="nombre") Nombre Proyecto 
                input(name="nombre" type="text" id="nombre" value=nombre placeholder="Nombre Proyecto") 
            each err in errores || []
                p  #{err.texto}
            .campo.enviar 
                input(type="submit", value="Agregar" class="boton")